@import "vars";

html {
  font-size: 13px;
}

#header > nav {
  height: 55px;
}

.tooltip {
  --bs-tooltip-bg: var(--bs-link-hover-color);
}

section.brand-label {
  position: absolute;
  top: 2px;
  left: 20px;

  img {
    position: absolute;
    height: 50px;
    top: 0;
  }

  h1 {
    position: absolute;
    font-size: 13px;
    top: -1px;
    left: 12px;
  }
}

section.lang-choose {
  position: absolute;
  top: 38px;
  left: 136px;
  display: flex;
  flex-direction: row;

  & > div {
    width: 16px;
    height: 12px;
    margin-right: 4px;
    opacity: 50%;
    cursor: pointer;

    &.current {
      opacity: 100%;
    }

    &.flag-ru {
      background-image: url("/img/ru.svg");
    }

    &.flag-us {
      background-image: url("/img/us.svg");
    }
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

@import "article";
@import "icons";

.legend {
  position: fixed;
  right: -1px;
  top: 55px;
  display: flex;
  box-shadow: $shadow;
  @include user-select(none);

  & > label {
    background-color: $mainBlue;
    color: $mainWhite;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 1rem;
    font-variant-caps: all-petite-caps;
    @include border-radius-corners(0, 0, 0, .6rem);
  }

  & > div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;

    &:nth-child(2) {
      margin-left: 1rem;
    }

    & > label {
      margin-right: .3rem;
      font-size: 0.9rem;
    }

    & > span {
      color: $mainBlue;
      font-size: 1.6rem;
    }
  }
}


.add-lever {
  position: absolute;
  background-color: $mainWhite;
  padding: 10px;
  border: 1px solid $mainGrey;
  width: max-content;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  @include border-radius-corners(0, 6px, 6px, 6px);

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -11px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    border: 1px solid #aaa;
    border-width: 0 0 1px 1px;
  }

  .row, .btn {
    margin: 0;
    padding: 0;
  }

  .btn.disabled {
    cursor: not-allowed;
  }

  & > div.input-groups {
    display: flex;

    & > div {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;

      label {
        cursor: pointer;
        opacity: .5;
        text-align: center;
      }

      &.block-types {
        label {
          font-size: 2rem;
          color: $mainBlue;
        }
      }

      &.insert-pos {
        label {
          font-size: 2.4rem;
          color: $mainGreen;
        }
      }

      input {
        position: absolute;
        visibility: hidden;
        opacity: 0;

        &:checked + label {
          opacity: 1;
        }
      }
    }
  }
}