/*!
 * Copyright © Sergey Siunov. 2024
 * email: <sergey@siunov.ru>
 */

$sobaka-icons-font: "sobaka-icons" !default;
$sobaka-icons-font-dir: "./fonts" !default;
$sobaka-icons-font-file: "#{$sobaka-icons-font-dir}/#{$sobaka-icons-font}" !default;
$sobaka-icons-font-hash: "24e3eb84d0bcaf83d77f904c78ac1f47" !default;
$sobaka-icons-font-src: url("#{$sobaka-icons-font-file}.woff2") format("woff2"),
url("#{$sobaka-icons-font-file}.woff") format("woff") !default;

@font-face {
  font-display: block;
  font-family: $sobaka-icons-font;
  src: $sobaka-icons-font-src;
}

.si::before,
[class^="si-"]::before,
[class*=" si-"]::before {
  display: inline-block;
  font-family: $sobaka-icons-font !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$sobaka-icons-map: (
  "block-text": "\61",
  "block-note": "\62",
  "block-citate": "\63",
  "save": "\64",
  "settings": "\65",
  "read": "\66",
  "write": "\67",
  "delete": "\68",
  "arrow-down": "\69",
  "arrow-up": "\6A",
  "block": "\6B",
  "insert-before": "\6C",
  "insert-after": "\6D",
  "insert-end": "\6E",
  "insert-begin": "\6F",
);

@each $icon, $codepoint in $sobaka-icons-map {
.si-#{$icon}::before { content: $codepoint; }
}